{% extends "auctions/layout.html" %}

{% block body %}

<div>
  <h2 class="ms-5">Active Listings</h2>
</div>

{% if user.is_authenticated %}
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for item in items %}
      {% if item.is_sold == False %}
        <a href="{% url 'detail' item.id %}" style="text-decoration: none;">
        <div class="col card shadow-lg ms-5 me-5 mt-5 ps-3 pe-3 pt-3 pb-3">
          <div class="card h-100">
          <img src="/media/{{item.image}}" class="card-img-top" alt="{{ item.name }}" style="height: 300px;">
          <div class="card-body">
          <h4 class="card-title">{{ item.name }}</h4>
          <p class="card-text"><b>Starting Price: {{item.price}}</b></p>
          <p class="card-text">{{item.description}}</p>
          <p class="card-text"><small class="text-body-secondary">Last updated:  {{item.created_at}}</small></p>
          </div>
        </div>
        </div>
        </a>
      {% endif %}
    {% endfor %}
  </div>
{% else %}
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for item in items %}
  <a href="{% url 'login' %}" style="text-decoration: none;">
  <div class="col card shadow-lg ms-5 me-5 mt-5 ps-3 pe-3 pt-3 pb-3">
    <div class="card h-100">
      <img src="/media/{{item.image}}" class="card-img-top" alt="{{ item.name }}" style="height: 300px;">
      <div class="card-body">
        <h4 class="card-title">{{ item.name }}</h4>
        <p class="card-text"><b>Starting Price: {{item.price}}</b></p>
        <p class="card-text">{{item.description}}</p>
        {% if item.is_sold == True %}
          <h5 class="text-success bg-dark">Product sold </h5>
        {% else %}
          <h5 class="text-warning bg-dark">Not sold</h5>
        {% endif %}
        <p class="card-text"><small class="text-body-secondary">Last updated:  {{item.created_at}}</small></p>
      </div>
    </div>
  </div>
  </a>
  {% endfor %}
</div>
{% endif %}


{% endblock %}