{% extends "auctions/layout.html" %}

{% block body %}

    {% if message %}
    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>
    {% endif %}

        <div class="container mt-5">
            <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h2>Login</h2>
                <hr>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="mt-1">User Name</label>
                    <input type="text" class="form-control mt-3" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="mt-4">Password</label>
                    <input class="form-control mt-3" type="password" name="password" placeholder="Password">
                </div>
                  <button type="submit" class="btn btn-success mt-4 mb-3">Login</button>
                  <hr>
                  <div class="mt-2"> Don't have an account? <a href="{% url 'register' %}" style="text-decoration: none;">Register here.</a></div>
            </form>
        </div>

        <!-- <div class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Login</div>
            <div class="card-body text-primary">
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input autofocus class="form-control" type="text" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="Password">
                    </div>
                    <input class="btn btn-primary" type="submit" value="Login">
                </form>
               
            </div>
            <div class="card-footer bg-transparent border-success"> Don't have an account? <a href="{% url 'register' %}">Register here.</a></div>
        </div> -->

    

    <!-- <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <input class="btn btn-primary" type="submit" value="Login">
    </form> -->

    <!-- Don't have an account? <a href="{% url 'register' %}">Register here.</a> -->

{% endblock %}